@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@media screen and (max-width:1105px) {
  .my-text{
    font-size: 15px;
    font-weight: 600;
  }
  
}
/* 
@media screen and (max-width:799px) {
  .{
    font-size: 15px;
    font-weight: 600;
  }
  
} */

.text-star::after{
  content: "*";
  font-size: 30px;
  color: #ff0d0d;
  position: absolute;
  top: 0px;
  right: -18px;
}